body {
    font-family: arial;
    background-color: #E8ECF1;
}

.header{
    z-index: 1000;
    display: flex;
    height: 11vh;
    background-color: #2B1B3C;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    color: white;
    min-height: 50px;
}

.app-title {
    margin: auto 0;
    font-size: max(7vh, 2em);
    white-space: nowrap;

}

.logo {
   height: 9vh;
   width: auto;
   padding: 0 20px;
   margin: auto 0;
   filter: invert(1);
   min-height: 45px;
}

.header-right{
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translate(20%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spacer {
    height: 11vh;
    width: 100vw;
}

.page-content {
    margin: 1em;
}

.login-logout {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    width: 30vw;
    text-align: center;
    margin: 0 auto;
}

.login-input {
    margin: 11px 0px;
    display: flex;
    flex-direction: column;
}

.login-input > input, button{
    margin: 10px;
    background: #e8ecf1;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.light-button-dark-bg {
    border-radius: 5px;
    padding: 14px 14px;
    cursor: pointer;
    color: #fff;
    background-color: inherit;
    font-size: 1rem;
    border: 1px solid #fff;
    transition-duration: 0.5s;
    height: 4vh;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.footer, .attribution {
    position: fixed;
    bottom: 2%;
    width: 30vw;
}

.attribution, .attribution * {
    color: lightgray;
}

.modal {
    visibility: hidden;
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
}

.error-message {
    color: red;
}

@media only screen and (max-width: 900px) {
    .login-logout, .footer {
        width: 80vw;
    }
